APP_ENV=development
DJANGO_SECRET_KEY=change-this-in-each-environment
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000
DATABASE_URL=postgresql://catalog:catalog@db:5432/catalog
REDIS_URL=redis://redis:6379/0
TIME_ZONE=America/Santo_Domingo
DEFAULT_LANGUAGE=es-do

